@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color : #FF3C00;
    --gray-color: #8F9194;
    --white-color: #fff;
    --dark-color: #070707;
    
}
body{    
    padding-top: 150px;
    font-family: "Montserrat", sans-serif;
    background-image: url(../imgs/fondo-de-textura-de-hormigon-negro-grunge.jpg);
    background-size: cover;
    background-repeat: no-repeat;    
    overflow-x: hidden;
    width: 100%;
}


/* *LOGO */
header .navbar .logo{
    transition: .5s
}
header nav .logo:hover{
    color: var(--white-color);
    transform: scale(1.1);    
}

/* *TEXTO DE LA NAV */
.navbar .items{
    color: white;
    font-size: 20px;
    border-bottom: 1px solid transparent;
}
.navbar .items:hover{
    color: var(--primary-color);
    border-bottom: 1px solid var(--white-color);
}

/* *contenedor de la nav */
#navbarNav li {    
    padding: 20px;
    width: 100%;
}
#navbarNav{
    padding-left: 8%;
    
}
/* *BOTON DE HOME */
#navbarNav .home button{
    margin-left: 90px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    padding: 5px 20px;
    color: var(--white-color);
    background: var(--primary-color);
}
#navbarNav .home button:hover{    
    transition: .5s;
    transform: scale(1.1);
}

/* !HERO ===========================*/

/* *IMAGEN DE HMTL */
#hero .img-html{
    margin: 0;
    position: absolute;
    width: 480px;
    top: 150px;
    left: 420px;
    transform: scaleX(1);
    z-index: -1;
    opacity: 20%;
}
#hero .img-foto{
    width: 140vh;
    image-orientation: flip;
    position: relative;
    top: -170px;
    opacity: 90%;
    right: -90px;
    height: auto;
    transform: scaleX(-1);
    mask-image: linear-gradient(to bottom, black 90%, transparent 99%);
    z-index: 1;
}

#hero .cont-info{
    margin-top: 50px;
}
#hero #orange{
    color: var(--primary-color);
    text-shadow: 2px 4px 9px rgba(0, 0, 0, 0.5);
}
/* *(h6) texto */
#hero h6{
    color: var(--white-color);
    text-shadow: 2px 4px 7px rgba(0, 0, 0, 0.5);
}
/* *MI NOMBRE */
#hero h1{
    color: var(--white-color);
    font-size: 90px;
    text-shadow: 8px 4px 9px rgba(0, 0, 0, 0.5);
}
#hero button{
    border: none;
    font-size: 30px;
    color: var(--white-color);
    background: #ffffff28;    
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 30px;
}
#hero button:hover{
    transform: scale(1.1);
    transition: .2s;
}

/* !SECCION MARCAS */
#marcas{
    background: black;
}
#marcas .logos{ 
    padding: 20px;
}
#marcas img{
    padding-right: 40px;
    margin-left: 40px;
}
/* !SECCION SOBRE MI */

#sobre-mi{
    background: #0A0A0A;
}
#sobre-mi .cont-img{
    padding-top: 50px;
    position: relative;

    right: 100px;
}
#sobre-mi .cont-info{
    padding-top: 50px;
    color: var(--white-color);
    
}
#sobre-mi .pepa1{
    position: absolute;
    /* top: -40px;
    right: 150px; */
     transform: translate(-40%, -50%);
    font-size: 90px;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.03);
    white-space: nowrap;
    z-index: 1;
    pointer-events: none;
}
#sobre-mi .pepa2{
    position: relative;
    top: -10px;
    right: 30px;
    font-weight: 700;
    color: var(--primary-color);
    pointer-events: none;
}
#sobre-mi .parrafo{
    padding: 25px 0 0 0;
}

#sobre-mi button{
    padding: 10px 30px;
    margin-top: 20px;
    color: var(--white-color);
    margin-left: 90px;
    font-weight: 600;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #fff;
    background: transparent;
}
#sobre-mi button:hover{
    transition: .3s;    
    background: var(--white-color);
    color: var(--dark-color);
}
#sobre-mi .p1{
    display: inline-flex;
}
/* !SECCION HABILIDADES */
#habilidades{
    background: #1A1A1A;
    padding-top: 30px;
}
#habilidades .cont-general{
    padding: 50px 0 100px 0;
}
#habilidades h2{
    color: var(--white-color);
    text-align: center;
}
#habilidades h2 strong{
    color: var(--primary-color);
    border-bottom: 2px solid white;
}
#habilidades p{
    color: var(--white-color);
    padding-top: 20px;
    padding-bottom: 40px;
}
/* !SECCION PORTAFOLIO */   
#portafolio{
    padding: 80PX 0 0 0;
    background: black;
}
#portafolio .cont-general{
    padding: 50px 0 100px 0;
}
#portafolio h2{
    position: relative;
    right: 60px;
    top: 420px;
    color: #8F9194;
    transform: translateY(-50%) rotate(-90deg);
    font-size: 60px;
    font-weight: 900;
    z-index: 1;
    opacity: 70%;
    pointer-events: none;
}

#portafolio a:hover{
    transition: .5s;
    transform: translateY(-10px);
}

#portafolio .img1{
    background-color: var(--gray-color);
    padding: 20px 10px 70px 10px;
    border-radius: 10px;
    width: 300px;
    margin-bottom: 30px;
}
#portafolio .img2{
    background: var(--primary-color);
    padding: 20px 10px 70px 10px;
    border-radius: 10px;
    width: 300px;
    margin-bottom: 30px;
}
#portafolio .img3{
    background: var(--gray-color);
    border-radius: 10px;
    padding: 20px 10px 70px 10px;
    width: 300px;
    margin-bottom: 30px;
}
#portafolio .img4{
    background: var(--primary-color);
    border-radius: 10px;
    padding: 20px 10px 70px 10px;
    width: 300px;
}
#portafolio .img5{
    background: var(--gray-color);
    border-radius: 10px;
    padding: 20px 10px 70px 10px;
    width: 300px;
}
#portafolio .img6{
    background: var(--primary-color);
    border-radius: 10px ;
    padding: 20px 10px 70px 10px;
    width: 300px;
}
#portafolio p{
    width: 100%;
    position: absolute;
    
    color: var(--white-color);
    font-weight: 700;
    font-size: 20px;
}


#portafolio .cont-general a button{
    background: var(--white-color);
    border: none;
    border-radius: 4px;
    position: relative;
    top: -20px;
    right: -890px;
    font-size: 20px;
    font-weight: 700;
    padding: 6px 10px;    
}
#portafolio .cont-general a button:hover{
    transition: .5s;
    transform: scale(1.1);
}

/* !MIS ESTUDIOS */
#estudios{
    background: #1A1A1A;
    width: 100%;
    padding: 90px 0 90px 0;
}
#estudios h2{
    color: var(--white-color);
}
#estudios h2 strong{
    color: var(--primary-color);
    border-bottom: 2px solid #fff;
}
#estudios p{
    color: var(--white-color);
}
#estudios .cont-gen1{
    padding: 90px 50px;
    position: relative;
}
#estudios .cont-gen2{
    padding: 90px 50px;
    
}
#estudios .e1, #estudios .e2{
    color: var(--white-color);
}
#estudios .e1 strong, #estudios .e2 strong{
    color: var(--primary-color);
}

#estudios .e3, #estudios .e4{
    color: var(--white-color);
}
#estudios .e3 strong, #estudios .e4 strong{
    color: var(--primary-color);
}

#estudios .tec {
    color: var(--primary-color);
    
}
#estudios h4{
    color: var(--white-color);
    font-weight: 200;
}


#estudios .cont-1{
    background: #00000073;
    border: 2px solid white;
    margin-bottom: 100px;
    padding: 30px 0 30px 0;
}
#estudios .cont-1:hover{
    transition: .5s;
    transform: translateY(-5px);
}

#estudios .cont-2{
    background: #00000073;
    border: 2px solid white;
    margin-bottom: 100px;
    margin-top: 120px;
    padding: 30px 0 30px 0;
}
#estudios .cont-2:hover{
    transition: .5s;
    transform: translateY(-5px);
}

#estudios .cont-3{
    background: #00000073;
    border: 2px solid white;
    margin-bottom: 100px;
    padding: 30px 0 30px 0;
}
#estudios .cont-3:hover{
    transition: .5s;
    transform: translateY(-5px);
}
#estudios .cont-4{
    background: #00000073;
    border: 2px solid white;
    padding: 30px 0 30px 0;
}
#estudios .cont-4:hover{
    transition: .5s;
    transform: translateY(-5px);
}
#estudios .cont-5{
    background: #00000073;
    border: 2px solid white;
    padding: 30px 0 30px 0;
}
#estudios .cont-5:hover{
    transition: .5s;
    transform: translateY(-5px);
}
#estudios .year{
    font-size: 20px;
    font-weight: 700;
}
/* !SECCION MI EXPERIENCIA */

#experiencia{
    background: var(--dark-color);
    padding: 50px 0 50px 0;
}

#experiencia .cont-1{
    background: #1A1A1A;
    border-radius: 10px;
    padding: 50px 50px;
    width: 400px;
    height: 500px;
}
#experiencia h2{
    color: var(--white-color);
    padding-bottom: 60px;
}
#experiencia h2 strong{
    color: var(--primary-color);
}

#experiencia h4, #experiencia ul, #experiencia hr, #experiencia h3{
    color: var(--white-color);
}

#experiencia .cont-2{
    background: #1A1A1A;
    border-radius: 10px;
    padding: 50px 50px;
    width: 400px;
    height: 500px;
}
